<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nju.agile.riskmanagement.mapper.EnterDetailMapper">
<resultMap id="EnterDetailMap" type="nju.agile.riskmanagement.pojo.EnterpriseInfo" >
    <id column="taxPayer_id" property="taxPayerId" jdbcType="INTEGER" />
    <result column="taxPayer_name" property="taxPayerName" jdbcType="VARCHAR" />
    <result column="enter_address" property="enterAddress" jdbcType="VARCHAR" />
    <result column="tax_log_date" property="taxLogDate" jdbcType="DATE" />
    <result column="tax_authority_name" property="taxAuthorityName" jdbcType="VARCHAR" />
     <result column="adm_region" property="admRegion" jdbcType="VARCHAR" />
      <result column="legal_rep_name" property="legalRepName" jdbcType="VARCHAR" />
       <result column="legal_rep_id" property="legalRepId" jdbcType="INTEGER" />
        <result column="financial_per_name" property="financialPerName" jdbcType="VARCHAR" />
         <result column="financial_per_id" property="financialPerId" jdbcType="INTEGER" />
          <association property="enterLog" javaType="nju.agile.riskmanagement.pojo.EnterLog">
       <id column="enter_log_id" property="enterLogId" jdbcType="INTEGER" />
        <result column="taxPayer_id" property="taxPayerId" jdbcType="INTEGER" />
    <result column="enter_log_pass" property="enterLogPass" jdbcType="VARCHAR" />
    </association>
  </resultMap>

  <select id="showEnterDetail" resultMap="EnterDetailMap" parameterType="java.lang.Integer">
   select *
   from enterprise_info e1
   inner join enter_log_info en1
   on e1.taxPayer_id= en1.taxPayer_id
   where e1.taxPayer_id =#{taxPayerId}
  </select>
  
  
  <update id="editEnterDetail" parameterType="nju.agile.riskmanagement.pojo.EnterpriseInfo">
  update enterprise_info
  set taxPayer_name=#{taxPayerName},
  enter_address=#{enterAddress},
  tax_log_date=#{taxLogDate},
  tax_authority_name=#{taxAuthorityName},
  adm_region=#{admRegion},
  legal_rep_name=#{legalRepName},
  legal_rep_id=#{legalRepId},
  financial_per_id=#{financialPerId},
  financial_per_name=#{financialPerName}
  where taxPayer_id=#{taxPayerId}
  </update>
  
  <update id="editEnterPass" parameterType="nju.agile.riskmanagement.pojo.EnterLog">
  update enter_log_info
  set enter_log_pass=#{enterLogPass}
   where taxPayer_id=#{taxPayerId}
  </update>
  
  <insert id="enterRegister" parameterType="nju.agile.riskmanagement.pojo.EnterpriseInfo">
  insert into enterprise_info (taxPayer_id, taxPayer_name, enter_address, 
      tax_log_date, tax_authority_name, adm_region,legal_rep_name,legal_rep_id, 
      financial_per_id, financial_per_name
      )
    values (#{taxPayerId,jdbcType=INTEGER}, #{taxPayerName,jdbcType=VARCHAR}, #{enterAddress,jdbcType=VARCHAR}, 
      #{taxLogDate,jdbcType=VARCHAR}, #{taxAuthorityName,jdbcType=VARCHAR}, #{admRegion,jdbcType=VARCHAR}, 
      #{legalRepName,jdbcType=VARCHAR}, #{legalRepId,jdbcType=INTEGER},#{financialPerId,jdbcType=INTEGER}, 
      #{financialPerName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="enterRe" parameterType="nju.agile.riskmanagement.pojo.EnterLog">
  insert into enter_log_info(taxPayer_id,enter_log_pass)
  values(#{taxPayerId,jdbcType=INTEGER},#{enterLogPass,jdbcType=VARCHAR}
  )
  
  </insert>

</mapper>